.favorite-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px
}

/* .favorite-col{
    width: 300px;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
} */

.favorite-summoner{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 200px;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}

.favorite-summoner:hover{
    color: rgb(231, 197, 84);
    background-color: black
}

.favorite-header-row{

}

.favorite-header{
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    color: rgb(231, 197, 84);
    background-color: black;
    padding: 15px 0;
}

.favorite-greeting{
    font-weight: bold;
    font-size: 40px;
    margin: 30px
}