.error-message{
    color: red;
}

#player-search-header{
    font-weight: bold;
    font-size: 35px;
    margin: 30px
}

#player-search-input{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    margin: 0 5px
}

.search-row{
    display: flex;
    justify-content: center;
}

#search-button{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: bold
}

#search-button:hover{
    background-color: black;
    color: rgb(231, 197, 84);
}

