.match-history-champs{
    width: 200px;
}

#show-player-container{
    /* display: flex */
}

.row{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.col{
    margin: 20px;
}

.match-stats{
    margin: 20px 0 40px 0;
}

.won{
    color: green
}

.lost{
    color: red
}

#matches-header-col{
    margin: 20px auto;
}

.advice-note{
    margin: 20px;
}

#spinner-row{
    text-align: center;
}
#spinner-col{
    width: 40px;
    margin: 0 auto;
}