.match-history-champs{
    width: 200px;
}

#show-player-container{
    /* display: flex */
}

.row{
    display: flex;
}

.col{
    margin: 0 auto;
}

.match-stats{
    margin: 20px 0 40px 0;
}

.won{
    color: green
}

.lost{
    color: red
}

#matches-header-col{
    margin: 20px auto;
}

#matches-player-name{
}

.advice-note{
    margin: 20px;
}