.match-history-champs{
    width: 200px;
}

.row{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.col{
    margin: 20px;
}

.match-stats{
    margin: 20px 0 40px 0;
}

.won{
    color: green
}

.lost{
    color: red
}

#matches-header-col{
    margin: 20px auto;
}

.advice{
    text-align: left;
}

.advice-note{
    margin: 20px;
}

#spinner-row{
    text-align: center;
}
#spinner-col{
    width: 40px;
    margin: 0 auto;
}

#no-matches-message{
    color: red;
}

#matches-header-col{
    margin: 20px auto 0 auto;
}

.no-opponent{
    width: 200px;
    min-width: 200px;
}

.no-analysis{
    width: 920px;
}